.calculator-left-column-image-info-svg {
    width: 14px;
    height: 14px;
    fill: #aa522d;
    stroke: #aa522d;
}


.calculator-left-column-title {
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}

.calculator-image-columns {
    background: #fff;
    border-top: 1px solid #f2f2f2;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.calculator-image-columns-custom-hidden {
    display: none;
}

.calculator-left-column {
    padding: 0 15px;

}

.calculator-picture-container {
    width: 100%;
    margin-bottom: 15px;
}

.calculator-zoom-container {
    position: relative;
    width: 100%;
    height: 100%;

}

.calculator-picture-img {
    width: 100%;
    height: auto;
    cursor: none;

}

.img-magnifier-glass {
    position: absolute;
    pointer-events: none;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    cursor: none;
    width: 200px;
    height: 200px;
    z-index: 10;

}

.zoom-circle {
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    border: 6px solid #FFFFFF;
    cursor: none;
    width: 250px;
    height: 250px;
}


.calculator-left-column-edit-buttons {
    margin-bottom: 15px;
    padding: 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}

.calculator-left-column-show-breakdown {
    padding: 15px 20px;
    color: #675151;
    font-weight: 400;
    border: 1px dashed #e0ad6b;
    background: #ffe8af;
}

.calculator-left-column-edit-breakdown {
    padding: 15px 20px;
    color: #675151;
    font-weight: 400;
    border: 1px dashed #e0ad6b;
    background: #ffe8af;
}

.calculator-left-column-image-info {
    margin-left: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #aa522d;
}

.calculator-rights-column {
    padding: 0 15px 15px 15px;
}

.calculator-rights-column-picture-variations {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #dedede;
}

.calculator-rights-column-picture-variation {
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
}

.calculator-rights-column-picture-variation-active {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.07);
    border: rgba(0, 0, 0, 0.14) 1px solid;
    pointer-events: none;
}

.calculator-rights-column-picture-variation-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.calculator-rights-column-picture-variation-input {
    display: none;
}

.calculator-price-left-column {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: black;
    display: block;
    margin-top: 9px;
}

.calculator-dimensions {

}

.calculator-dimensions-svg {
    cursor: pointer;
    width: 14px;
}

.calculator-dimensions-title {
    font-size: 14px;
    margin-top: 28px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 20%;

}

.calculator-dimensions-title::before {
    content: "";
    position: absolute;
    width: calc(18%);
    height: 1px;
    background-color: #f2f2f2;
    top: 50%;
    transform: translateY(-50%);
}


.calculator-dimensions-title::after {
    content: "";
    position: absolute;
    width: 54%;
    height: 1px;
    background-color: #f2f2f2;
    top: 50%;
    transform: translateY(-50%);
}

.calculator-dimensions-title::before {
    left: 0;
}

.calculator-dimensions-title::after {
    right: 0;
}


.calculator-dimensions-wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: 15px;
    background-color: #f6fafe;
    padding: 15px 0;

}

.calculator-dimensions-select-modal-size-item {
    font-size: 13px;
    font-weight: 600;
    color: #757575;
}


.calculator-dimensions-select-modal-size-item span {
    color: black;
    font-size: 13px;
    font-weight: 400;
}

.calculator-dimensions-select-size-width-and-length {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.calculator-dimensions-select-size-width-and-length label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    gap: 2px;

}

.calculator-dimensions-select-size-width-and-length input {
    width: 25px;
}

.calculator-dimensions-popular-list {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(3, max-content);
}

.calculator-dimensions-popular-item {
    padding: 5px;
    font-size: 12.6px;
    border: 1px solid #d3e9ff;
    background-color: white;
    cursor: pointer;
    text-align: center;
}

#width::-webkit-inner-spin-button,
#width::-webkit-outer-spin-button,
#height::-webkit-inner-spin-button,
#height::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#width,
#height{
    width: 30px;
    padding: 5px 5px 5px 8px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 10px;
}

.calculator-dimensions-range-container{
    margin-top: 10px;
    padding: 0 10px;
}


.calculator-dimensions-popular-list-title{
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #252525;
}


.calculator-dimensions-range-input{
    border-radius: 3px;
    height: 5px;
    width: 100%;
    -webkit-appearance: none;
    background-color: lightgray;
}

.calculator-dimensions-range-input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: orange;
    border-radius: 30px;
    border: 5px solid #f1f1ef;

}



.calculator-dimensions-select-size-info {
    display: block;
    margin-top: 10px;
    text-align: center;

}

.calculator-dimensions-select-size {
    border-right: 1px dashed gray;
    padding: 10px 0;
}

.calculator-dimensions-select-modal-size {
    padding: 10px 0 10px 10px;
}

.calculator-select-picture-type {
    margin: 33px auto 0 auto;
    display: flex;
    align-items: center;
    width: fit-content;
}

.calculator-select-picture-type-element {
    padding: 6px 12px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}

.calculator-select-picture-type-element-checked {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}


.calculator-select-picture-type-info {
    width: 14px;
    height: 14px;
    fill: #252525;
    margin-left: 5px;
    cursor: pointer;
}


.calculator-select-picture-type {
    position: relative;
}

.calculator-variations-label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20%;
    gap: 4px;
    margin-top: 33px;

}

.calculator-variations-label-info {
    cursor: pointer;
    width: 14px;
}

.calculator-variations-label::before {
    content: "";
    position: absolute;
    width: calc(18%);
    height: 1px;
    background-color: #f2f2f2;
    top: 50%;
    transform: translateY(-50%);
}


.calculator-variations-label::after {
    content: "";
    position: absolute;
    width: 54%;
    height: 1px;
    background-color: #f2f2f2;
    top: 50%;
    transform: translateY(-50%);
}

.calculator-variations-label::before {
    left: 0;
}

.calculator-variations-label::after {
    right: 0;
}

.calculator-variations-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.calculator-variation-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selector-input {
    cursor: pointer;
}

.calculator-variation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-variation-selector-img {
    max-width: 100%;
}

.calculator-hidden {
    display: none;
}

.calculator-variations-slider-wrapper {
    margin-top: 10px;
    position: relative;
}

.calculator-variations-slider {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.calculator-variations-slider::-webkit-scrollbar {
    display: none;
}

.calculator-variation {
    flex: 0 0 auto;
    scroll-snap-align: center;
}

.calculator-variation-label-1 {
    display: block;
    text-align: center;
    cursor: pointer;
}

.calculator-variation-active {
    border: 1px solid orange;
}

.calculator-variation-slider-selector-img {
    margin: 10px 7px 0 7px;

}

.calculator-mode-slide-next-button,
.calculator-mode-slide-prev-button {
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    padding: 15px 8px;
}

.calculator-mode-slide-next-button {
    right: 0;
}

.calculator-mode-slide-prev-button {
    left: 0;
}

.calculator-mode-slide-next-button:hover,
.calculator-mode-slide-prev-button:hover {
    background: #ffa201;
    color: #ffffff;
}

.calculator-interiors-slider-wrapper {
    margin-top: 10px;
    position: relative;
}

.calculator-interiors-slider {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.calculator-interiors-slider::-webkit-scrollbar {
    display: none;
}

.calculator-interiors-slider {
    width: 100%;
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 10px;
    scroll-behavior: smooth;
}

.calculator-interior-variation {
    flex: 0 0 auto;
    scroll-snap-align: start;
    cursor: pointer;
}

.calculator-interior-variation img {
    width: 100%;
    height: auto;
}

.calculator-interior-slide-next-button,
.calculator-interior-slide-prev-button {
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    padding: 15px 8px;
}

.calculator-interior-slide-next-button {
    right: 0;
}

.calculator-interior-slide-prev-button {
    left: 0;
}

.calculator-interior-slide-next-button:hover,
.calculator-interior-slide-prev-button:hover {
    background: #ffa201;
    color: #ffffff;
}

.calculator-picture-characteristics-table {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}


.calculator-picture-characteristics-table tr,
.calculator-picture-characteristics-table th,
.calculator-picture-characteristics-table td {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}


.calculator-variations-label-info:hover {
    fill: orange;

}

.calculator-dimensions-svg:hover {
    fill: orange;
}

.calculator-select-picture-type-info:hover {
    fill: orange;
}


@media (max-width: 1200px) {
    .calculator-image-columns{
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .calculator-variation-selector-img{
        max-width: 100px;
    }

    .calculator-picture-characteristics{
        overflow: hidden;
        max-height: 300px;
    }

    .calculator-picture-characteristics-table{
        width: 100%;
        overflow-x: scroll;
    }

    .img-magnifier-glass{
        display: none;
    }

    .calculator-variation-selector-img{
        max-width: 60px;
    }
    .calculator-rights-column-picture-variation-img{
        width: 60px;

    }

    .calculator-rights-column-picture-variation-label{
        padding: 5px;
    }
}


@media (max-width: 420px) {


}










